.game {
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/bkg.png');
  background-size: cover;
  background-position: center center;
  color: white;
  font-size: 20px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 43%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__arrows {
    white-space: nowrap;
    display: flex;
    width: 100vw;
    transform: translateX(50vw);
    position: relative;
  }

  &__arrow {
    width: 30px;
    height: 30px;
    // background-color: black;
    position: absolute;
    background-image: url('/img/up-arrow-w.png');
    background-size: contain;
  }

  &__time {
    position: absolute;
    top: calc(50% - 200px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    // text-align: right;
  }

  &__score-message {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 40px;
    // text-align: right;
  }

  &__score {
    font-size: 50px;
    margin-bottom: 20px;
  }

  &__controls {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 50vw;
    height: 50vw;
    z-index: 100;
    .is-touch & {
      display: block;
    }
  }

  &__control {
    width: 18vw;
    height: 18vw;
    // background-color: black;
    position: absolute;
    background-image: url('/img/up-arrow-w.png');
    background-size: contain;

    &:nth-child(1) {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      left: 100%;
      top: 50%;
      transform: translate(-100%, -50%) rotate(90deg);
    }

    &:nth-child(3) {
      left: 50%;
      transform: translate(-50%, -100%) rotate(180deg);
      top: 100%;
    }

    &:nth-child(4) {
      left: 0;
      top: 50%;
      transform: translate(0%, -50%) rotate(270deg);
    }
  }
}

.intro {
  width: 100%;
  height: 100%;
  z-index: 100;
  color: white;
  font-size: 20px;
  &__start {
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 100;
  }
}
