.game {
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  touch-action: manipulation;

  &__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  &.visible {
    .game__container {
      opacity: 1;
      visibility: visible;
    }

    .game__start {
      transform: translate(-50%, -50%);
      transition: transform 0.3s var(--ease-out-bounce) 0.2s;
      will-change: transform;

      &:hover {
        transition: transform 0.3s var(--ease-out-bounce);
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  &.start {
    .game__start {
      transform: translate(-50%, 0%) translateY(50vh) !important;
      transition: transform 0.6s var(--ease-out-quad) !important;
    }

    .game__overlay {
      border-left: 1px solid white;
      .is-mobile & {
        border-left: 1px solid transparent;
        border-bottom: 1px solid white;
      }
    }
  }

  &.end {
    .game__start {
      transform: translate(-50%, -50%);
      transition: transform 0.6s var(--ease-out-quad);
    }

    .game__time {
      .is-mobile & {
        text-align: center;
        margin-left: 0;
        font-size: 40px;
      }
    }

    .game__score {
      .is-mobile & {
        font-size: 40px;
      }
    }

    .game__controls {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 20%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &__overlay {
    height: 200px;
    width: 50vw;
    position: relative;
    // overflow: hidden;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    border-left: 1px solid transparent;

    .is-mobile & {
      width: 70vw;
      height: 50vh;
      transform: translateY(-25%);
      border-bottom: 1px solid transparent;
      align-items: end;
    }
  }

  &__arrows {
    white-space: nowrap;
    display: flex;
    width: 100vw;

    .is-mobile & {
      align-items: center;
      justify-content: center;
    }
  }

  &__arrow {
    width: 70px;
    height: 70px;
    // background-color: black;
    position: absolute;

    display: block;

    .is-mobile & {
      width: 50px;
      height: 50px;
    }

    color: #ffbe3e;

    &.right {
      color: #ef5959;
    }
    &.down {
      color: #ad00ff;
    }
    &.left {
      color: #58f075;
    }

    &-inner {
      transform: scale(1);
      opacity: 1;
      // background-image: url('/img/up-arrow-w.png');
      // background-size: contain;
      width: 100%;
      height: 100%;
    }

    &.passed {
      .game__arrow-inner {
        transform: scale(2);
        opacity: 0;
        transition: opacity 0.15s linear 0.1s, transform 0.15s var(--ease-out-bounce);
      }
    }

    &.missed {
      .game__arrow-inner {
        opacity: 0;
        transition: opacity 0.15s linear 0s;
      }
    }
  }

  &__time {
    position: absolute;
    top: calc(50% - 200px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    // text-align: right;

    .is-mobile & {
      font-size: 25px;
      text-align: left;
      margin-left: 20px;
    }
  }

  &__score-message {
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 40px;
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
    transition: opacity 0.1s linear, transform 0.1s var(--ease-out-bounce) 0s;
    will-change: transform;

    .is-mobile & {
      top: calc(65%);
      font-size: 30px;
      width: 70vw;
    }

    &.win {
      color: #26ea2e;
    }

    &.lose {
      color: #f10000;
    }

    &.combo {
      color: #ad00ff;
    }

    &.visible {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: opacity 0.1s linear, transform 0.1s var(--ease-out-bounce);
    }
  }

  &__score {
    font-size: 50px;
    margin-bottom: 20px;

    .is-mobile & {
      font-size: 25px;

      span {
        display: block;
      }
    }
  }

  &__controls {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 48vw;
    height: 48vw;
    z-index: 100;
    touch-action: manipulation;
    max-width: 250px;
    max-height: 250px;
    .is-touch & {
      display: block;
    }
  }

  &__control {
    width: 15vw;
    height: 15vw;
    // background-color: black;
    position: absolute;

    max-width: 90px;
    max-height: 90px;
    svg {
      pointer-events: none;
    }

    &:nth-child(1) {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      left: 100%;
      top: 50%;
      transform: translate(-100%, -50%) rotate(90deg);
    }

    &:nth-child(3) {
      left: 50%;
      transform: translate(-50%, -100%) rotate(180deg);
      top: 100%;
    }

    &:nth-child(4) {
      left: 0;
      top: 50%;
      transform: translate(0%, -50%) rotate(270deg);
    }
  }

  &__start {
    font-size: 50px;
    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    cursor: pointer;
    z-index: 100;
    color: #ffbe3e;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.intro {
  width: 100%;
  height: 100%;
  z-index: 100;
  color: white;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__enter {
    position: absolute;
    font-size: 50px;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 100;

    transition: transform 0.3s var(--ease-out-bounce);
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
  &__header {
    position: absolute;
    z-index: 100;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-transform: uppercase;
      transform: translateY(-10px);
    }
  }
  &__logo {
    width: 400px;
  }
  &__rules {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60px);
    font-size: 26px;
    text-transform: uppercase;
    background-color: #000000cf;
    padding: 20px 40px;
    border-radius: 20px;

    p:first-child {
      text-align: center;
      padding-bottom: 10px;
    }

    .is-mobile & {
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 10px;
      width: 90%;
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 100;
  color: white;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: absolute;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__text {
    position: absolute;
    font-size: 50px;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    .is-mobile & {
      font-size: 36px;
    }
  }
}

.fugaz {
  font-family: 'fugaz-one';
  // letter-spacing: 0.15em;
  // text-transform: uppercase;
}

.roboto {
  font-family: 'Roboto Slab', serif;
  display: none;
}

.indie {
  font-family: 'Indie Flower', serif;
}
