.game {
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/bkg.png');
  background-size: cover;
  background-position: center center;
  color: white;
  font-size: 20px;

  &.visible {
    .game__container {
      opacity: 1;
      visibility: visible;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 43%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &__overlay {
    height: 200px;
    width: 50vw;
    position: relative;
    // overflow: hidden;
    transform: translateX(50%);
    display: flex;
    align-items: center;
  }

  &__arrows {
    white-space: nowrap;
    display: flex;
    width: 100vw;
  }

  &__arrow {
    width: 60px;
    height: 60px;
    // background-color: black;
    position: absolute;

    display: block;

    &-inner {
      transform: scale(1);
      opacity: 1;
      background-image: url('/img/up-arrow-w.png');
      background-size: contain;
      width: 100%;
      height: 100%;
    }

    &.passed {
      .game__arrow-inner {
        transform: scale(2);
        opacity: 0;
        transition: opacity 0.3s linear 0.1s, transform 0.3s var(--ease-out-bounce);
      }
    }

    &.missed {
      .game__arrow-inner {
        opacity: 0;
        transition: opacity 0.3s linear 0.1s;
      }
    }
  }

  &__time {
    position: absolute;
    top: calc(50% - 200px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    // text-align: right;
  }

  &__score-message {
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 40px;
    // text-align: right;
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
    transition: opacity 0.15s linear, transform 0.15s var(--ease-out-bounce) 0.5s;
    will-change: transform;

    &.visible {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: opacity 0.15s linear, transform 0.15s var(--ease-out-bounce);
    }
  }

  &__score {
    font-size: 50px;
    margin-bottom: 20px;
  }

  &__controls {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 50vw;
    height: 50vw;
    z-index: 100;
    .is-touch & {
      display: block;
    }
  }

  &__control {
    width: 18vw;
    height: 18vw;
    // background-color: black;
    position: absolute;
    background-image: url('/img/up-arrow-w.png');
    background-size: contain;

    &:nth-child(1) {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      left: 100%;
      top: 50%;
      transform: translate(-100%, -50%) rotate(90deg);
    }

    &:nth-child(3) {
      left: 50%;
      transform: translate(-50%, -100%) rotate(180deg);
      top: 100%;
    }

    &:nth-child(4) {
      left: 0;
      top: 50%;
      transform: translate(0%, -50%) rotate(270deg);
    }
  }

  &__start {
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 100;
  }
}

.intro {
  width: 100%;
  height: 100%;
  z-index: 100;
  color: white;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__enter {
    position: absolute;
    font-size: 50px;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 100;
  }
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 100;
  color: white;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: absolute;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__text {
    position: absolute;
    font-size: 50px;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
}

.roboto {
  font-family: 'Roboto Slab', serif;
}
