@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

@font-face {
  font-family: 'faster-one';
  src: url('/font/FasterOne-Regular.woff2') format('woff2'), url('/font/FasterOne-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}
